#headerDiv{
    margin-bottom: 0.25em;
    display: flex;
    align-items: center;
}

#header{
    color:rgb(200, 0, 0);
    font-size: 1em;
    line-height: 0,5;
    letter-spacing: 0.5em;
    font-family: "Century Gothic";
    font-weight: 900;
    opacity: 0.75;
    display: flex;
    margin: 0 auto;
}

#body {
    background-color: white;
    font-family: PT Serif, serif;
}

#mainDiv{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}

.button{
    background-color: transparent;
    color:black;
    padding: 5px 8px;
    border-color: transparent;
    font-size: 1em;
    border-radius: 15px;
    transition: 0.25s;
}

.button:hover{
    transform: rotate(45deg);
    cursor: pointer;
}

#nightButton{
    border-radius: 15px;
    width: 3%;
    min-width: 40px;
    height: 2.5%;
    margin-right: 0%;
    margin-top: 0%;
    font-size: 0.75em;
    background-color: transparent;
    border-color: transparent;
}

#nightButton:hover{
    font-size: 1.2em;
    transform: translateY(-0.25em);
    transition: 0.25s;
}

section{
    border-radius: 15px;
    border: 0.1em solid gray;
    background-color: lightgray;
    min-width: 30%;
    height: 530px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 0.5%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

section:hover{
    transform: translateY(-0.25em);
    transition: 0.25s;
    border: 0.1em solid orange;
}

iFrame{
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
}

@media (orientation: landscape){
    #header{
        font-size: 1.5em;
    }
}

@media (max-width:300px){
    #header{
        font-size: 0.75em;
    }
}

@media (max-width: 1200px){
    #mainDiv{
        flex-direction: column;
    }
    section{
        width:90%;
    }
}
